<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${title}">ninja typr</title>
		<link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="../css/ninja-style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
	<header th:replace="fragments/header :: header">
	</header>
	<main>
		<div class="results-box">
			<div id="user-username">
				<h3 th:text="${user.username}"></h3>
			</div>
			<table id="stats-table">
				<thead>
				</thead>
				<tbody>
					<tr id="alltime-words-row">
						<td>All time words typed:</td>
						<td> <strong th:text="${stats.allTimeWords}">None</strong></td>
					</tr>
					<tr id="average-accuracy-row">
						<td>Average accuracy:</td>
						<td> <strong th:text="${stats.averageAccuracy + '%'}">None</strong></td>
					</tr>
					<tr id="average-speed-row">
						<td>Average speed:</td>
						<td><strong th:text="${stats.averageSpeed + ' WPM'}">None</strong></td>
					</tr>
					<tr id="tests-taken-row">
						<td>Total tests taken:</td>
						<td><strong th:text="${stats.testsTaken}">None</strong></td>
					</tr>
					<tr id="top-speed-row">
						<td>Best speed:</td>
						<td><strong th:text="${stats.topSpeed}">None</strong></td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<div>
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    	<script type="text/javascript" src="../js/materialize.min.js"></script>
	</div>
	<footer th:replace="fragments/footer :: footer">
	</footer>
	</body>
</html>