body {
	background-color: #c1bdba;
}

html, body, form, textarea {
	width: 100%;
	height: 100%;
	margin: 0;
}

.feedback_mensagem {
	color: #d7cdcd;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.sucesso {
	background-color: #1ab18899;
}

.erro {
	background-color: #ff230099;
}
